@media screen and (max-width: 600px) {
  body {
    background-color: #394359;
    padding-bottom: 25px;
  }
  /* .header img {
      width: 100%;
    } */
  .App {
    flex-direction: column;
    height: 100vh;
  }
  .header {
    display: flex;
    flex-direction: row;
  }
  .company-logo {
    margin-top: 20px;
    height: 100px;
    width: 200px;
    overflow: hidden;
  }
  .lotteryLogo {
    margin-top: 10px;
    margin-left: 10vh;
    width: 200px;
    height: auto;
    padding: 5px;
  }
  .header img {
    max-width: 90%;
    display: block;
  }
  .FormPage {
    padding-bottom: 25px;
  }
}
@media screen and (min-width: 600px) {
  body {
    background-color: #119da4;
    padding-bottom: 25px;
  }
  .App {
    flex-direction: column;
    height: 100vh;
  }
  .header {
    display: flex;
    flex-direction: row;
  }
  .company-logo {
    margin-top: 20px;
    width: 300px;
    height: auto;
    overflow: hidden;
  }
  .lotteryLogo {
    margin-top: 10px;

    width: 400px;
    height: auto;
    padding: 5px;
  }
  .FormPage {
    display: flex;
    padding-bottom: 25px;
    align-items: center;
    flex-direction: row;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    background: #7c4dff;
    padding-bottom: 25px;
  }
  .App {
    display: flex;
    flex-direction: column;
  }

  .header {
    display: flex;
    flex-direction: row;
  }
  .company-logo {
    margin-top: 20px;
    width: 300px;
    height: auto;
    overflow: hidden;
  }
  .lottery-logo {
    height: 100px;
    width: 200px;
    overflow: hidden;
    max-width: 100%;
  }
  .FormPage {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
