@media screen and (max-width: 600px) {
  body {
    background-color: #9099ad;
    padding-bottom: 25px;
  }
  /* .header img {
      width: 100%;
    } */
  .App {
    flex-direction: column;
    min-height: 100vh;
    position: relative;
  }
  .header {
    display: flex;
    flex-direction: row;
  }
  .company-logo {
    margin-top: 20px;
    height: 100px;
    width: 200px;
    overflow: hidden;
  }
  .lotteryLogo {
    margin-top: 10px;
    margin-left: 10vh;
    width: 200px;
    height: auto;
    padding: 5px;
  }
  .header img {
    max-width: 90%;
    display: block;
  }
  .FormPage {
    padding-bottom: 25px;
    padding: 1em 0;
    margin: 0 auto;
    align-items: center;
  }
  .copyright {
    display: flex;
    justify-content: center;
    padding: 0;
  }
  .icons {
    margin: 0 auto;
    align-items: center;
    width: 250px;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
  }
  .icons .company_logo img {
    width: 50px;
  }
  .footer {
    position: relative;
    bottom: 0;
    text-align: center;
    width: 100%;
  }
  .footer img {
    width: 20px;
  }
  .thank-text {
    padding: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 600px) {
  body {
    background-color: #119da4;
    padding-bottom: 25px;
  }
  .App {
    flex-direction: column;
    min-height: 100vh;
    position: relative;
  }
  .header {
    display: flex;
    flex-direction: row;
  }
  .company-logo {
    margin-top: 20px;
    width: 300px;
    height: auto;
    overflow: hidden;
  }
  .lotteryLogo {
    margin-top: 10px;
    width: 400px;
    height: auto;
    padding: 5px;
  }
  .footer {
    position: relative;
    bottom: 0;
    width: 100%;
  }
  .FormPage {
    display: flex;
    padding-bottom: 25px;
    align-items: center;
    flex-direction: row;
    padding: 1em 0;
  }
  .copyright {
    display: flex;
    justify-content: center;
    padding: 0;
  }
  .icons {
    margin: 0 auto;
    align-items: center;
    width: 250px;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
  }
  .icons .company_logo img {
    width: 50px;
  }
  .footer img {
    width: 20px;
  }

  .thank-text {
    padding: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    background: #7c4dff;
    padding-bottom: 25px;
  }
  .App {
    flex-direction: column;
    min-height: 100vh;
    position: relative;
  }

  .header {
    display: flex;
    flex-direction: row;
  }
  .company-logo {
    margin-top: 20px;
    width: 300px;
    height: auto;
    overflow: hidden;
  }
  .lottery-logo {
    height: 100px;
    width: 200px;
    overflow: hidden;
    max-width: 100%;
  }
  .FormPage {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1em 0;
  }

  .copyright {
    display: flex;
    justify-content: center;
    padding: 0;
  }
  .icons {
    margin: 0 auto;
    align-items: center;
    width: 250px;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
  }
  .icons .company_logo img {
    width: 50px;
  }
  .footer {
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
  }
  .footer img {
    width: 20px;
  }
  .thank-text {
    padding: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
